@import 'compass/reset';

// ==========================================================================
// DESIGN!
// ==========================================================================
//
// pink: #e8275b;
// blue: #2bacb8;
// grey: #bbccb9;

$clr-links:#e8275b;
$clr-highlight:#2bacb8;
$clr-highlight-light:#bbccb9;
$clr-text:#3b3b3b;
$clr-background:#f5ecd9;

$lay-gutter:20px;

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family:'Gentium Book Basic', serif;
	font-size:100%;
	line-height:1.4;
	color:$clr-text;
	background-color:$clr-background;

	@media screen and (min-width: 37.5em) {
		font-size:1.25em;
	}

	@media screen and (min-width: 46.25em) {
		font-size:1.5em;
	}

	@media screen and (min-width: 55em) {
		font-size:1.75em;
	}
}

h1, 
h2, 
h3,
h4 {
	font-family:'Open Sans', sans-serif;
	font-weight:800;
	line-height:1.4;
	letter-spacing:-0.03em;
}

h1 {
	font-size:3.375em;
	line-height:1.25;
}

.post h2 { font-size:2em; }

.single .post {
	h1 { font-size:2em; }
	h2 { font-size:1.5em; }
	h3 { font-size:1.25em; }
}

p,
ul,
ol,
blockquote {
	margin:0 0 1.4em; 
}

ul {
	list-style:disc;

	ul { list-style:circle; }
}

ol {
	list-style:decimal;

	ol { list-style:lower-roman; }
}

blockquote {
	padding-left:30px;
	border-left:4px solid #2BACB8;
}

a {
	color:$clr-links;
	text-decoration:none;
	border-bottom:2px solid $clr-links;

	&:active {
		position:relative;
		top:1px;
	}
}

h1 a, 
h2 a {
	color:$clr-text;
	border-bottom:0;
}

.align-left {
	float:left;
	text-align:left;
}

.align-right {
	float:right;
	text-align:right;
}

.clearfix,
%clearfix {
	zoom:1;

	&:before, 
	&:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}

	&:after {
		clear: both;
	}
}

.container {
	@extend %clearfix;
	width:90%;
	max-width:1200px;
	margin:0 auto;

	.inner {
		max-width:880px;
	}
}

.global-header {
	float:right;
	padding-right:50px;
	margin-bottom:$lay-gutter;
	text-align:right;

	h1 { margin-bottom:0.175em; }

	.tagline {
		font-size:1em;
		margin:0 auto;
		max-width:880px;
	}
}

.global-navigation {
	width:30%;
	margin:$lay-gutter*3 0;
	padding:$lay-gutter 0 $lay-gutter*1.5 50px;
	background-color:$clr-highlight;

	ul {
		list-style:none;
		margin:0;
		padding:0;
	}

	a {
	  position:relative;
	  text-decoration:none;
	  color:#3b3b3b;
	  text-transform:uppercase;
	  transition:color .4s ease-out;
	  border-bottom:0;
	}

	a:after { 
	  z-index:-1;
	  display:inline;
	  color:#3b3b3b;
	  opacity:0;
	  transition:opacity .3s ease-in;
	}

	#menu-about:after { content:" me"; }
	#menu-work:after { content:" I've done"; }
	#menu-speaking:after { content:" where and when"; }

	ul:hover li { opacity:.4; }
	ul li:hover { opacity:1; }
	li:hover a:after { opacity:1; }
	a:hover { color:$clr-background; }
}

.global-footer {
	width:100%;
	padding:40px 0;
	color:$clr-background;
	background-color:$clr-highlight;

	h2 {
		margin-bottom:25px;
		font-size:1.5rem;
		letter-spacing:0.04em;
	}
}	

.footer-col {
	float:left;
	width:100%;
	min-height:1px;
	margin-right:0;

	@media screen and (min-width:30em) {
		width:40%;
		min-height:1px;
		margin-right:10%;
	}

	@media screen and (min-width:55em) {
		width:25%;
		min-height:1px;
		margin-right:5%;
	}

	ul {
		list-style:none;
		margin:0 0 25px;
		padding:0;	
	}
	
	li { line-height:1; }

	a {
		color:$clr-background;
		font-family:'Open Sans', sans-serif;
		font-size:1.125rem;
		font-weight:300;
		border-bottom:0;
	}
}

.book-advert {
	display:block;
	max-width:200px;
	color:#fff;
	border-bottom:0;

	img {
		display:block;
		max-width:100%;
		height:auto;
		margin:0 auto 10px;
	}
}

.post {
	margin-bottom:40px;

	header { margin-bottom:30px; }
	time { color:$clr-links; }

	&:after {
		content:'';
		display:block;
		width:80%;
		margin:0 auto;
		border-bottom:1px solid #2BACB8;
	}

	img {
		display:block;
		max-width:100%;
		width:100%;
		height:auto;
		margin:1.4em auto 0;
	}

	.wp-caption-text {
		margin-top:-1.4em;
		padding:7px 10px;
		font-size:14px;
		font-size:.875rem;
		background-color:#fff;
	}

	.flex-video {
		position:relative;
		width:100%;
		height:0;
		padding-bottom:56.25%;
		padding-top:25px;

		iframe {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
	}
}
	
.page-nav {	
	margin-bottom:2em;
}